<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Shao-Chi Chen</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!--Custom fonts. To improve load times, remove this and update the h1 styling in style.css-->
	<link href='https://fonts.googleapis.com/css?family=Lato:300,700' rel='stylesheet' type='text/css'>
	<!-- stylesheets -->
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
	<!-- favicon -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<!-- js -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="javascripts/jquery.circlechart.js"></script>
	<!-- just in case viewer is using Internet Explorer -->
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
	<nav class="fixed-nav-bar">
		<div class="nav_inner">
			<ul>
	  			<li><a class="a_nav" href="#projects">Projects</a></li>
	  			<li><a class="a_nav" href="#education">Education</a></li>
	  			<li><a class="a_nav" href="#experience">Experience</a></li>
	  			<li><a class="a_nav" href="#skills">Skills</a></li>
				<li><a id="a_home" href="#">Shao-Chi, Chen</a></li>
	  		</ul>
		</div>
	</nav>
	<!-- Header-->
	<header>
		<div class="vertical">
			<div class="inner">
            	<a class="thumbnail" href="/">
					<img src="images/thumbnail.jpg" alt="thumbnail">
				</a>
				<h1>Shao-Chi (Auberon) Chen</h1>
				<p>
					<a href="mailto:ar.chen57@gmail.com">ar.chen57@gmail.com</a>
				</p>
			</div>
		</div>
	</header>
	<div class="container">
		<!-- Introduction-->
		<section class="center">
			<p>
				Shao-Chi is a researcher and software engineer. He loves to create something aesthetic and learn by doing.
				His area of expertise are image processing, computer vision, computer graphics, and web development.
				Making great products that bring convenience to people's lives is his ultimate goal.
				He received his Master of Business Administration degree from <a href="https://www.cmlab.csie.ntu.edu.tw" target="_blank">Communications and Multimedia Laboratory</a> of <a href="http://www.ntu.edu.tw/">National Taiwan University</a>.
				Up to the present, he has started to research on object recognition and new technique of web development.
			</p>
			<p>
				<a href="CV.pdf" target="_blank">📄 Curriculum Vitae (PDF)</a>
			</p>
		</section>

		<!-- Gallery Block-->
		<!--
		<section class="gallery">
			<h1 class="center">Gallery</h1>
			<div class="row">
				<a href="#"><img src="images/re.png" class="grid-2"></a>
				<a href="#"><img src="images/re.png" class="grid-2"></a>
				<a href="#"><img src="images/re.png" class="grid-2"></a>
				<a href="#"><img src="images/re.png" class="grid-2"></a>
				<a href="#"><img src="images/re.png" class="grid-2"></a>
				<a href="#"><img src="images/re.png" class="grid-2"></a>
			</div>
		</section>

		<hr>
		-->

		<!-- Testimonials-->
		<!--
		<section class="testimonial">
			<div class="row">
				<div class="grid-2">
					<img src="images/re.png">
					<h2>Their Name</h2>
					<p>You can use this as a place to put recommendations, accolades and testimonials</p>
				</div>

				<div class="grid-2">
					<img src="images/re.png">
					<h2>Their Name</h2>
					<p>You can use this as a place to put recommendations, accolades and testimonials</p>
				</div>

				<div class="grid-2">
					<img src="images/re.png">
					<h2>Their Name</h2>
					<p>You can use this as a place to put recommendations, accolades and testimonials</p>
				</div>
			</div>
		</section>
		-->
	</div> <!-- End container-->

	<!-- Spotlight -->
	<section class="spotlight" id="projects">
		<div class="container">
			<h1>Projects</h1>
			<div class="row">
				<div class="grid-3">
					<img src="images/blackandorange.png" style="width:100%; margin-top:5%">
				</div>
				<div class="grid-3">
					<h1>NTUIM Softball Team Official Website Rebuilding, 2015</h1>
					<ul>
						<li>Presented overall statistical game data of NTUIM Softball Team.</li>
						<li>Written in Ruby on Rails.</li>
					</ul>
					<a href="https://github.com/iMARs57/imsoftball" target="_blank">View Project on GitHub</a>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="grid-3">
					<img src="images/thesis.png" style="width:100%; margin-top:5%">
				</div>
				<div class="grid-3">
					<h1>Making in-Front-of Cars Transparent: Sharing First-Person-Views via Dashcam</h1>
					<p>Shao-Chi Chen, Hsin-I Chen, Yi-Ling Chen, Hsin-Mu Tsai, and Bing-Yu Chen</p>
					<p>Computer Graphics Forum, Vol. 33, No. 7, (Proceedings of Pacific Graphics 2014 (PG 2014), Seoul, Korea), p.289 - p.297, 2014.</p>
					<a href="http://graphics.csie.ntu.edu.tw/~yiling/projects/Dashcam/" target="_blank">View Project</a>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="grid-3">
					<img src="images/modeling.png" style="width:100%; margin-top:5%">
				</div>
				<div class="grid-3">
					<h1>Reconstruction of 3D models with Depth Information</h1>
					<ul>
						<li>Used depth cameras and their SDK to recover 3D models from point cloud of objects.</li>
						<li>Programmed with C++ and CGAL Library.</li>
						<li>Term Project, Geometric Modeling 2013.</li>
					</ul>
					<a href="Modeling_final_report.pdf" target="_blank">View Project</a>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="grid-3">
					<img src="images/MMAI.jpg" style="width:100%; margin-top:5%">
				</div>
				<div class="grid-3">
					<h1>Baseball Pitches Detection</h1>
					<ul>
						<li>Sampled from professional baseball video clips and analyzed different influencing factors with SVM.</li>
						<li>Concludes the best combination of factors and the accuracy is more than 90%.</li>
						<li>Term Project, Multimedia Analysis and Indexing 2012.</li>
					</ul>
					<a href="http://mmai2012baseball.blogspot.tw/" target="_blank">View Project</a>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="grid-3">
					<img src="https://img.youtube.com/vi/_7O597h5AeI/maxresdefault.jpg" style="width:100%; margin-top:5%">
				</div>
				<div class="grid-3">
					<h1>Good Life - A PhotoBook-like VFX video</h1>
					<ul>
						<li>Edited with Adobe After Effects.</li>
						<li>Term Project, Digital Visual Effects 2012.</li>
					</ul>
					<p></p>
					<a href="https://www.youtube.com/watch?v=_7O597h5AeI" target="_blank">View Video</a>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="grid-3">
					<img src="images/SD.png" style="width:100%; margin-top:5%">
				</div>
				<div class="grid-3">
					<h1>Conference Papers Submitting and Reviewing System</h1>
					<ul>
						<li>Written in Ruby on Rails.</li>
						<li>Term Project, Software Development Method 2012.</li>
					</ul>
					<a href="SD_finalreport.pdf" target="_blank">View Project</a>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="grid-3">
					<img src="images/ICG.png" style="width:100%; margin-top:5%">
				</div>
				<div class="grid-3">
					<h1>Automatically 3D Clothing Drawing System</h1>
					<ul>
						<li>Users can draw silhouettes of clothing upon anthropomorphous models and the system can automatically generate the models wearing 3D clothing.</li>
						<li>Programmed with C++ and OpenGL Library. The UI is designed with QT.</li>
						<li>Term Project, Interactive Computer Graphics 2011.</li>
					</ul>
					<a href="ICG_finalreport.pdf" target="_blank">View Project</a>
				</div>
			</div>
		</div>
	</section>


	<!-- New container-->
	<div class="container">

		<section class="education" id="education">
			<h1>Education</h1>
			<div class="row">
				<div class="grid-2">
					<img src="images/ntu.png" alt="NTU" width="120px">
				</div>
				<div class="grid-4">
					<ul>
						<li>Master of Business Administration,</li>
						<li>in <a href="http://www.im.ntu.edu.tw/" target="_blank">Information Management</a>,</li>
						<li>National Taiwan University, 2012-2014.</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<img src="images/ntu.png" alt="NTU" width="120px">
				</div>
				<div class="grid-4">
					<ul>
						<li>Bachelor of Business Administration,</li>
						<li>in <a href="http://www.im.ntu.edu.tw/" target="_blank">Information Management</a>,</li>
						<li>National Taiwan University, 2008-2012.</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<img src="images/TPCK.gif" alt="NTU" width="120px">
				</div>
				<div class="grid-4">
					<ul>
						<li>
							<a href="http://www.ck.tp.edu.tw" target="_blank">Taipei Municipal Chien-Kuo High School</a>, 2005-2008.
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<img src="images/Xingya.gif" alt="NTU" width="120px">
				</div>
				<div class="grid-4">
					<ul>
						<li>
							<a href="http://www.syajh.tp.edu.tw" target="_blank">Taipei Municipal Xingya Junior High School</a>, 2002-2005.
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<img src="images/Yongchun.jpg" alt="NTU" width="120px">
				</div>
				<div class="grid-4">
					<ul>
						<li>
							<a href="http://163.21.197.3/default.asp" target="_blank">Taipei Municipal Yong-Chun Primary School</a>, 1996-2002.
						</li>
					</ul>
				</div>
			</div>
		</section>

		<hr>

		<!--Experience Tables-->
		<section class="experience" id="experience">
			<h1>Experience</h1>
			<div class="row">
				<div class="grid-2">
					<h2><a href="https://www.garena.tw/" target="_blank">Garena Taiwan, Sea Ltd.</a></h2>
					<h3>Programmer, Mobile Game Operations</h3>
					<p>Nov. 2016 - Now</p>
				</div>
				<div class="grid-4">
					<ul>
						<li>Developed official and other related websites of Mobile Game - <a href="https://moba.garena.tw" target="_blank">Arena of Valor</a> for Taiwan, Hong Kong and Macau areas.</li>
						<li>Developed <a href="https://esports.moba.garena.tw" target="_blank">eSports Website</a> of Mobile Game - Arena of Valor</li>
						<li>Developed <a href="http://2017.lms.garena.tw" target="_blank">"LMS 2017"</a> – official website of the League of Legends Master Series in Taiwan.</li>
						<li>Using programming languages and frameworks like Laravel(PHP), Django(Python), ReactJS, etc.</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<h2><a href="http://www.bravoideas.com.tw/" target="_blank">Bravo Ideas Digital Co., Ltd.</a></h2>
					<h3>Senior Software Engineer</h3>
					<p>Dec. 2015 - Sep. 2016</p>
				</div>
				<div class="grid-4">
					<ul>
						<li>Developed C++-based product recognition system that can automatically recognize specific products placed in films and video clips.</li>
						<li>Developed <a href="https://www.ishowlife.com" target="_blank">"ishowlife"</a> – A PHP-based Product Placement Platform</li>
						<li>Developed "DramaShop" – A PHP-based E-commerce Platform written in CodeIgniter</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<h2><a href="http://www.yacjh.kh.edu.tw/" target="_blank">Kaohsiung Municipal Yancheng Junior High School</a></h2>
					<h3>Substitute Military Service of Education</h3>
					<p>Sept. 2014 - Aug. 2015</p>
				</div>
				<div class="grid-4">
					<ul>
						<li>Ranked 1st in Professional Training of 140T and Served in Kaohsiung Municipal Yan-Cheng Junior High School.</li>
						<li>Supported the office of student and general affairs.</li>
						<li>Filmed and edited the <a href="https://www.youtube.com/watch?v=vRVC0V0tdHE" target="_blank">promotion video</a> of Yan-Cheng Junior High School.</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<h2><a href="http://www.pershing.com.tw/" target="_blank">Pershing Systems Corporation</a></h2>
					<h3>Software Engineering Intern</h3>
					<p>Jul. 2012 - Jul. 2013</p>
				</div>
				<div class="grid-4">
					<ul>
						<li>Developed Cathay United Bank online bank system with ASP.Net and wrote transaction specification.</li>
						<li>Developed branch transaction system of Hua-Nan Bank with Java and wrote transaction specification.</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<h2><a href="http://graphics.im.ntu.edu.tw/~robin/courses/arch12/" target="_blank">Course: Computer Organization and Structure</a></h2>
					<h3>Teaching Assistant</h3>
					<p>Sep. 2012 - Jan. 2013</p>
				</div>
				<div class="grid-4">
					<ul>
						<li>Assisted in class affairs, corrected assignments and answered questions of students.</li>
					</ul>
				</div>
			</div>
		</section>

		<hr>

		<section class="skill" id="skills">
			<!--List of skills-->
			<h1>Skills</h1>
			<div class="row">
				<div class="grid-2">
					<h2>HTML+CSS</h2>
				</div>
				<div class="grid-1">
					<div class="circle_htmlcss" data-percent="90"></div>
				</div>
				<div class="grid-2">
					<h2>Javascript</h2>
				</div>
				<div class="grid-1">
					<div class="circle_js" data-percent="85"></div>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<h2>C++(OpenCV)</h2>
				</div>
				<div class="grid-1">
					<div class="circle_cpp" data-percent="85"></div>
				</div>
				<div class="grid-2">
					<h2>PHP (Laravel, CodeIgniter)</h2>
				</div>
				<div class="grid-1">
					<div class="circle_php" data-percent="80"></div>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<h2>MySQL</h2>
				</div>
				<div class="grid-1">
					<div class="circle_mysql" data-percent="80"></div>
				</div>
				<div class="grid-2">
					<h2>Python (Django)</h2>
				</div>
				<div class="grid-1">
					<div class="circle_cpp" data-percent="75"></div>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<h2>Unix-like System</h2>
				</div>
				<div class="grid-1">
					<div class="circle_unix" data-percent="75"></div>
				</div>
				<div class="grid-2">
					<h2>Git</h2>
				</div>
				<div class="grid-1">
					<div class="circle_git" data-percent="75"></div>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<h2>React.js</h2>
				</div>
				<div class="grid-1">
					<div class="circle_react" data-percent="70"></div>
				</div>
				<div class="grid-2">
					<h2>Ruby on Rails</h2>
				</div>
				<div class="grid-1">
					<div class="circle_ror" data-percent="70"></div>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<h2>Node.js</h2>
				</div>
				<div class="grid-1">
					<div class="circle_node" data-percent="65"></div>
				</div>
				<div class="grid-2">
					<h2>Java</h2>
				</div>
				<div class="grid-1">
					<div class="circle_java" data-percent="60"></div>
				</div>
			</div>
			<div class="row">
				<div class="grid-2">
					<h2>ASP.net</h2>
				</div>
				<div class="grid-1">
					<div class="circle_asp" data-percent="50"></div>
				</div>
			</div>

				<!--
				<div class="grid-2">
					<h1>Skills</h1>
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>Javascript</li>
						<li>C++(OpenCV)</li>
						<li>PHP</li>
						<li>Unix-like System</li>
						<li>Ruby on Rails</li>
						<li>Node.js</li>
						<li>React.js</li>
						<li>ASP.net</li>
						<li>Java</li>
						<li>Git</li>
					</ul>
				</div>

				<div class="grid-4">
					<h1>In Conclusion</h1>
					<p>
						This is a good spot to highlight experiance and skills. Make sure to include a call to action like a link to your website, or your email address.
						If you find bugs, want features, or have questions, feel free to submit an <a href="https://github.com/philipcdavis/responsive-resume/issues">issue</a>. You are free to use without attribution.
						If you're ok sharing, I would love seeing what you make! Shoot me an
						<a href="mailto:Phillysoul11@gmail.com?Subject=Responsive%20Resume" target="_top">email</a> or
						<a href="http://www.twitter.com/philipcdavis">tweet</a> at me.
					</p>
				</div>
				-->
			</div>
		</section>



		<!--Footer-->
		<footer class="center">
			<hr>
			<span>&copy; Shao-Chi Chen 2017</span>
		</footer>

	</div><!-- End Container -->

</body>
<script src="javascripts/index.js"></script>
</html>
